<div id="displayDays" class="popUpWindow">
  <section>
    <h2><a href="">Days in {{ currentCommonDateDay.getFullYear() }}-{{ currentCommonDateDay.getMonth()+1 }}</a></h2>
    <div class="dayTable">
      <table>
        <thead>
        <th *ngFor="let workDayHeader of workDayTableHeader" >{{workDayHeader}}</th>

        </thead>
        <tbody>
        <tr *ngFor="let workDay of workDays" >
          <td>{{workDay.year}}</td>
          <td>{{workDay.month}}</td>
          <td>{{workDay.day}}</td>
          <td>{{workDay.requiredHour}}</td>
          <td> <a class="editDay" routerLink="" (click)="this.deleteWorkday( workDay )" ><i class="material-icons" matTooltip="Delete Work Day!">delete</i></a> </td>
        </tr>
        </tbody>
      </table>
      <button routerLink="" id="createDay"  mat-raised-button >Close</button>
    </div>

  </section>
</div>
