<div id="displayMonths" class="popUpWindow">
  <section>
    <h2><a href="">Months</a></h2>
    <div class="taskTable">
      <table>
        <thead>
        <th *ngFor="let tableHead of tableHeader" >{{tableHead}}</th>
        </thead>
        <tbody>
        <tr *ngFor="let wm of workMonths">
           <td>{{wm.year}}</td>
           <td>{{wm.month}}</td>
            <td  ><a class="editWonth" routerLink="" (click)="this.deleteWorkMonth( wm )" matTooltip="Delete Work Month!" ><i class="material-icons">delete</i></a></td>

          </tbody>
        </table>
        <button mat-raised-button routerLink="" id="createMonth">Close</button>
      </div>

    </section>
  </div>
