<div id="displayMonths" class="popUpWindow">
  <section>
    <h2><a href="">Months</a></h2>
    <div class="taskTable">
      <table>
        <thead>
        <th *ngFor="let tableHead of tableHeader" >{{tableHead}}</th>
        </thead>
        <tbody>
        <tr *ngFor="let wm of workMonths">
           <td>{{wm.year}}</td>
           <td>{{wm.month}}</td>
            <td><a href="">×</a></td>

            <td><a href="">×</a></td>
          </tr>

          </tbody>
        </table>
        <button id="createMonth">New Month</button>
        <button routerLink="" id="createMonth">Close</button>
      </div>

    </section>
  </div>
