@font-face
{
  font-family: "realway_light";
  src: url(../../node_modules/fonts-raleway/fonts/fonts-raleway/Raleway-Light.ttf); /* csshez képest relatív út... a ".." a kilépéshez kell*/
}
html, body
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "realway_light";
  background: rosybrown;
}

div#container
{
  width: 100%;
  height: 100%;
  float: left;
}

/* HEADER */

div#container  header /*  a contaiiner közvetlen gyermeke..így ha bent is lesz még header, akkor is egyértelmű */
{
  background: #8baad9;
  float: left; /* így már nem tölti ki 100%osan a teret...a tartalom határozza majd meg */
  width: 100%; /* így teljes szélességű lesz*/
  height: 15%;
  position: relative;
  overflow: hidden; /* így a nav nem fogja kitakarni.... H1 nem fog kilógni...nem néz ki hülyén*/
}
div#container  header h1
{
  margin: 0;
  text-align: center;
  font-size: 20px;
  padding: 15px 0;
  background: #8baad9;
}
div#container  header h1 a
{
  text-decoration: none;
  color: #fff;
}
div#container  header nav
{
  background: #7fa0d5;
  margin: 0;
  float: left;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;

}
div#container  header nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  float: left;
  text-align: center;
}
div#container  header nav ul li
{
  display: inline-block;
}
div#container  header nav ul li a
{
  display: block;
  color: #dbf2ff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 25px;
}
div#container  header nav ul li a:hover
{
  background: #6e91cb;
  color: #fff;
}
/* MAIN */

div#container div#main
{
  float: left;
  width: 100%;
  height: 85%;
}
    div#container div#main app-month-statistics.left
    {
      float: left;
      height: 100%;
      width: 15%;
      padding: 15px;
      padding-right: 0;
      padding-top: 0;
      box-sizing: border-box;  /* Hogy a padding értéke beletartozzon az össz szélességekbe.. */
    }

    div#container div#main app-calendar.center
    {
      height: 100%;
      float: left;
      width: 70%;
      position: relative;
    }
    div#container div#main app-day-statistics.right
    {
      height: 100%;
      float: left; /*  mivel kitöltik a teljes teret itt mindegy hogy nem RIGHT... am */
      width: 15%;
      padding: 15px;
      box-sizing: border-box;
      padding-left: 0;
      padding-top: 0;
    }
#calendar
{
  position: absolute;     /* Itt ha nem lenne abszolute és az ő szülöje rtelative
                            pozicióban, a margint a szélességből számolná és az alsó rész nem helyesen jelenne meg... */

  margin: 0;
  padding: 0;
  left: 2.5%;
  top: 2.5%;
  float: left;
  width: 95%;
  height: 95%;
}
