<div class="calendarComponent">
  <section id="calendar">
      <nav id="yearMonth">
        <- YYYY MM ->
      </nav>

      <table>
        <thead>
        <tr>
          <th>Mo</th>
          <th>Tu</th>
          <th>We</th>
          <th>Th</th>
          <th>Fr</th>
          <th>Sa</th>
          <th>Su  </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td data-ix="1"><div>1</div></td>
          <td data-ix="2"><div>2</div></td>
          <td data-ix="3" class="nonEmpty"><div>3</div></td>
          <td data-ix="4"><div>4</div></td>
          <td data-ix="5"><div>5</div></td>
          <td data-ix="6"><div>6</div></td>
          <td data-ix="7"><div>7</div></td>
        </tr>
        <tr>
          <td data-ix="8" class="nonEmpty"><div>8</div></td>
          <td data-ix="9"><div>9</div></td>
          <td data-ix="10" class="nonEmpty"><div>10</div></td>
          <td data-ix="11"><div>11</div></td>
          <td data-ix="12"><div>12</div></td>
          <td data-ix="13"><div>13</div></td>
          <td data-ix="14" class="nonEmpty"><div>14</div></td>
        </tr>
        <tr>
          <td data-ix="15"><div>15</div></td>
          <td data-ix="16"><div>16</div></td>
          <td data-ix="17"><div>17</div></td>
          <td data-ix="18"><div>18</div></td>
          <td data-ix="19"><div>19</div></td>
          <td data-ix="20" ><div>20</div></td>
          <td data-ix="21" class="nonEmpty"><div>21</div></td>
        </tr>
        <tr>
          <td data-ix="22"><div>22</div></td>
          <td data-ix="23"><div>23</div></td>
          <td data-ix="24"><div>24</div></td>
          <td data-ix="25"><div>25</div></td>
          <td data-ix="26"><div>26</div></td>
          <td data-ix="27"><div>27</div></td>
          <td data-ix="28"><div>28</div></td>
        </tr>
        <tr>
          <td data-ix="29"><div>29</div></td>
          <td data-ix="30"><div>30</div></td>
          <td data-ix="31"><div>31</div></td>
          <td data-ix="1"><div>1</div></td>
          <td data-ix="2"><div>2</div></td>
          <td data-ix="3"><div>3</div></td>
          <td data-ix="4"><div>4</div></td>
        </tr>
        </tbody>
      </table>

    </section>
</div>
